h1 {
    color: rgb(64, 13, 206);
    background-color: yellow;
    border-color: red;
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    border-radius: 50px;
}
h2 {
    color:orange;
    font-style: italic;
    background-color:blue;
    width: 400px;
    border-radius: 50px;

}
img {
    background-color: blue;
    color: brown;
}